@import "styles";

header {
  @include secondary-body;
  justify-content: space-between;
  min-height: 2.5rem;

  @media (min-width: 30rem) {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
  }
  .menu {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    @include secondary-body;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 2.5rem;
    font-size: large;
    text-align: center;

    &:hover {
      background-color: $secondary-color;
    }
    &:focus {
      background-color: $secondary-color;
    }
  }
}
