@import "styles";

.story {
  position: relative;
  overflow: hidden;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;

  @media (min-width: 75rem) {
    @include alignment;
    justify-content: flex-start;
  }

  h1 {
    margin: 0;
  }

  p {
    padding-right: 2rem;
    margin: 0;
    margin-top: 1rem;
    color: $secondary-color;
  }

  &__image-section {
    width: 5rem;
    padding-right: 2.5rem;
  }
  &__info {
    @media (min-width: 75rem) {
      @include alignment;
      justify-content: flex-start;
    }
  }
  a {
    &:link {
      color: $primary-color;
      text-decoration: none;
    }
    &:hover {
      color: $tertiary-color;
    }
  }
  svg {
    padding-right: 0.5rem;
    vertical-align: bottom;
  }
}
