.story {
  line-height: 1.57;
  position: relative;
  overflow: hidden;
  width: 30rem;
  margin-bottom: 10rem;
  margin-right: 2.5rem;
  color: black;
  border-radius: 1rem;
  min-height: px2rem(470);
  height: auto;
  background-color: #dcdddf;

  h1 {
    padding: 1rem;
  }
  &__image-section {
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;

    & :hover {
      opacity: 0.5;
    }
  }
  &__image {
    position: absolute;
    height: auto;
  }
  &__text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: px2rem(272);
    padding: 1rem;
  }
  &__info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #8d8c90;
    min-height: 2.5rem;
    padding: 0.5rem;

    svg {
      padding-right: 0.5rem;
      g:hover text {
        display: block;
      }
    }
  }

  a:link {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #389fbc;
  }
}
