.stories {
  margin: 2.5rem 25%;
  &-container {
    @media (min-width: 250rem) {
      max-width: calc((100% / 12) * 5);
    }
  }

  &__list {
    list-style: none;

    @media (min-width: 250px) {
      margin-right: -2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
